
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAFAFA;
}

li {
  float: right;
  padding: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the text decoration and color when you hover */
li a:hover {
  text-decoration: underline;
  text-decoration-color: #C9A488;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.startsfromhere{
  color: #C9A488;
  margin-top: -80px;
  margin-bottom: 80px;
  font-weight: 300;
}

.welcome{
width: 400px;
font-family: 'Oswald';
font-weight: 300;
font-size: 40px;
color: #C9A488;
}

.dance{
width: 400px;
font-family: 'Oswald';
font-weight: 500;
font-size: 40px;
margin-left: 230px;
margin-top: -57px;
color: black;
}

.behind{
  font-family: 'Lato';
  font-size: 22px;
  color: #C1BEBB;
}

.menu{
width: 626;
height: 24;
letter-spacing: 50;
}

.logo{
  float: left;
  margin-left: 250px;
  margin-top: -10px;
}

.icons{
  margin-right: 250px;
  height: 10px;
}

.hamburger{
  margin-top: 10px;
}

.shopping{
  margin-top: 10px;
}

.search{
  margin-top: 10px;
}

.first {
  background-color: #FAFAFA;
}

.second {
  height: 300px;
}

.initial_div {
  font-family: 'Oswald';
  margin-left: 300px;
  display: inline-block;
  font-size: 24px;
}

.secondary_div {
  margin-left: 850px;
  display: inline-block;
  margin-top: -570px;
  line-height: 30px; 
}

.third{
  font-family: 'Oswald';
  margin-left: 450px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin-top: 620px;
  list-style-type: none;
  background-color: #FAFAFA;
}

.div1pics {
  display: inline-block;
}

.div2pics {
  margin-left: 300px;
  margin-top: 110px;
  line-height: 60px;
  display: inline-block;
}

.aboutus{
  margin-left: 10px;
  font-size: 18;
  font-family: 'Oswald';
}

.div3pics {
  padding-bottom: 30px;
  width: 500px;
  display: inline-block;

}

button{
  font-family: 'Oswald';
  font-size: 15px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  border: 2px solid #C9A488;
}

.first button {
  width: 150px;
  margin-top: 15px;
}

.second button {
  width: 115px;
}

.third button {
  width: 150px;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 18;
}

footer{
  background-color: #FAFAFA;
  text-align: center;
}