ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the text decoration and color when you hover */
  li a:hover {
    text-decoration: underline;
    text-decoration-color: burlywood;;
    text-underline-offset: 5px;
  }
  .initial_div{
    margin-left: 300px;
  }
button{
  border-radius: 40px;
  height: 70px;
  width: 170px;
}
