ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAFAFA;
}

li {
  float: right;
  padding: 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the text decoration and color when you hover */
li a:hover {
  text-decoration: underline;
  text-decoration-color: #C9A488;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.menu{
width: 626;
height: 24;
letter-spacing: 50;
}

.logo{
  float: left;
  margin-left: 250px;
}

.icons{
  margin-right: 250px;
  
}

.first {
  background-color: #FAFAFA;
}

.second {
  height: 300px;
}

.initial_div {
  margin-left: 300px;
  display: inline-block;
  font-size: 24px;
}

h1{
  font-family: 'Oswald';
  line-height: 60px;
}

.secondary_div {
  display: inline-block;

}

.div1pics {
  display: inline-block;
}

.div2pics {
  margin-left: 300px;
  margin-top: 100px;
  display: inline-block;
}

.div3pics {
  padding: 10px;
  width: 500px;
  display: inline-block;
}

button{
  font-family: 'Oswald';
  font-size: 15px;
  height: 60px;
  border-radius: 40px;
}

.first button {
  width: 150px;
  margin-top: 15px;
}

.second button {
  width: 115px;
}

.third button {
  width: 150px;
}

li {
  font-family: 'Oswald', sans-serif;
  font-size: 18;
}


